.album-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-card:hover {
    transform: translateY(-5px);
}

.album-card input[type="checkbox"] {
    position: absolute;
    top: 10px;
    left: 10px;
}

.folder-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.album-card h3 {
    margin: 10px 0 5px;
    font-size: 1.1rem;
    color: #333;
}

.album-card p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}
.photo-card img{
    width: 180px;
    height: 180px;
}